{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
{% include 'catalog/header.html' %}

<div class="album py-5 bg-body-tertiary">
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="{{ product.image | filter_media }}">
        <div class="card-body">
          {% if product.is_published %}
              <p>Товар в наличии</p>
          {% else %}
              <p>Товар временно отсутствует</p>
          {% endif %}
          <p class="card-text">{{ product.category }}</p>
          <p class="card-text">{{ product.name }}</p>
          <p class="card-text">{{ product.price }} р.</p>
          <p>{{ product.description }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              {% if product.owner == user or is_moderator %}
              <a class="btn btn-secondary" href="{% url 'catalog:product_update' product.id %}" role="button">Изменить</a>
              <a class="btn btn-danger" href="{% url 'catalog:product_delete' product.id %}" role="button">Удалить</a>
              {% endif %}
              <a class="btn btn-primary" href="{% url 'catalog:products_list' %}" role="button">Назад</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}